doctype html
html
 head
   title= title
   
 body
   div(class= 'container')
     nav(class='nav justify-content-center')
       a(class='nav-link', href='/')='home'
       a(class='nav-link', href='/new')='Create a Message'
     br
     block content